<style>

body{
    margin: 0;
    padding: 0;
}

/*to remove default browser styles*/
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    color: #868686;
    font-weight: 450;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    height: 45px;
    background-color: #ffffff;
    z-index: 999;
    width: 100%;
    left: 0;
    align-items: center;

    display: flex;
    justify-content: space-between;
}



.nav-content {
    margin: 0 15px 0 15px;
}

.nav-content h1{
    margin: 0; /*to cancel the automatic margin from h1*/
}

.nav-content a {
    text-decoration: none;
    color: #08306b;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 400;
}

.nav-content a.active {
    text-decoration:underline;
    text-underline-offset: 5px;
    font-weight: 600;
}

.nav-content a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 400;
}

/*Mute effect*/
.muted-overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 50;
    cursor: pointer;
}

/*Styling popup content*/
.popup-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 99;
    text-align: left;
    overflow: scroll;
}



.popup-content h2{
    margin-top: 0;
}

.popup-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.popup-columns{
    column-count: 2; /*set the number of column*/
    column-gap: 50px;
    text-align: left;
    overflow-y: auto;
    margin-top: 20px;
}

.popup-column-content{
    margin-bottom: 20px;
}

/*position of the map on the page*/
#map {
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 0px;
    width: 80%;
}

.map-overlay {
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    background: #ffffff;
    margin-right: 0px;
    overflow: auto; /**for scrolling**/
    border-radius: 0px;
    width: 20%;
}

.map-overlay-content {
    margin-left: 10px;
    padding-right: 15px;
}

.footer {
    display: flex; /**/
    justify-content: space-between; /*ensures logo stay on the left and mentu stays on the right*/
    align-items: center;
    background-color: #ffffff;
    padding: 0 0px;
    position: fixed; /*make navbar stays on top when scrolling*/
    bottom: 0;
    height:100px;
    right: 0px;
    width: 20%;
    z-index: 40; /*ensure above other element (like arrange or order)*/
}


.logo{
    display: flex;
    align-items: center;
    margin-left: 5px;
    bottom: 5px;

}

.footer .logo img {
    height: 70px;
    width: auto;
    bottom: 5px;
}

.region-select {
    margin-top:30px;
    font-size: 16px;
    height: 40px;
    width: 100%;
    border-width: 1px;
    font-family: inherit;
    border-radius: 4px;
    background-color: #ffffff;
    border-color: #dfdddd;
}

#slider {
    margin-top: 30px;
}

#speed-limit-slider {
    width: 100%;
    cursor: grab;
}

.slider-number{
    display: flex;
    justify-content: space-between;
}

#speed-limit-slider::-webkit-slider-runnable-track{
    background: linear-gradient(to right, #8e0152,#c51b7d,#de77ae,#f1b6da,#fde0ef,#e6f5d0,#b8e186,#7fbc41,#4d9221,#276419);
    border-radius: 9px;
    border-color: #dfdddd;
    border-width: 15px;
}

.info {
    margin-top: 30px; /*giving space with previous section*/
}

.info-row{
    display: flex; /*to make the continer into a flex container*/
    justify-content: space-between; /*to distribute the container content equally so h3 will align in left while p aling in right*/
    align-items: center;  /*align vertically in the cneter*/
    margin-bottom: 15px; /*giving space between line*/
}




